body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.atb-side-h4 {
  margin-top: 15px;
  color: lightpink;
  font-weight: bold;
}

.atb-h2 {
  border-left: 10px solid lightpink;
  border-top: 2px solid lightpink;
  margin: 30px 0px 10px;
  padding: 6px 0px 0px 5px;
}

h2 {
  border-left: 10px solid lightpink;
  border-top: 2px solid lightpink;
  margin: 30px 0px 10px;
  padding: 6px 0px 0px 5px;
}

.atb-img-ref {
  color: lightpink;
  font-size: 20px;
}

.atb-top-category {
  margin: 5px; 1px;
}

a.top-category { text-decoration: none; } 
a.top-category:hover { text-decoration: none; } 
